@import url('https://fonts.googleapis.com/css?family=Maven+Pro&subset=latin-ext,vietnamese');
*{
    margin: 0;
    padding: 0;
    background-color: none;
    font-family: "Maven Pro";
    color: white;
}

.backgroud {
    background-image: url("assets/backg1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}

.container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: rgba(255,255,255,0.2)
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

nav p {
    padding: 8px;
    color: white;
    font-size: 20px;
    text-align: left;   
}

nav p:nth-child(1) {
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3
}

.inter {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    margin-top: 20px; 
    -webkit-box-pack: start; 
        -ms-flex-pack: start; 
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
}
footer{
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end
}

footer p {
    padding: 10px;
    font-size: 12px;
}
h1, p{
    text-align: center;
}


section{
    width: 100%
}

.group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.group article {
    margin: 10px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

h2{
    font-size: 14px;
}

.project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
}

.infos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* margin: 15px; */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.infos article {
    margin: 15px;

}

.infos article:nth-child(1){
    border-right: 1px solid white;
    padding-right: 15px;
}
.infos article:nth-child(3){
    padding-left: 15px;
    border-left: 1px solid white;
}

.develop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

a {
    text-decoration: none;
}

.group article a {
    margin: 10px
}


@media (max-width: 769px){
    
        nav p {

            font-size: 16px    
        }

        nav p:nth-child(1) {
            -webkit-box-flex: 3;
                -ms-flex-positive: 3;
                    flex-grow: 3
        }

        footer p {
            font-size: 10px;
        }


        h2{
            font-size: 12px;
        }


        .infos article {
            margin: 10px;

        }

        .infos article:nth-child(1){
            border-right: 1px solid white;
            padding-right: 12px;
        }
        .infos article:nth-child(3){
            padding-left: 12px;
            border-left: 1px solid white;
        }

        .develop h1 {
            font-size: 16px
        }

        .group article a {
            margin: 10px
        }
        
        .group article h1 {
            font-size: 12px;
        }

        .group article p {
            font-size: 10px
        }
}

@media (max-width: 535px){

    .develop h1 {
        font-size: 14px;
    }

    .group article h1 {
        font-size: 10px;
    }

    .group article p {
        font-size: 8px
    }

}

@media (max-witdh: 400px){
    
    .group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column
    }
    
}