@import url('https://fonts.googleapis.com/css?family=Maven+Pro&subset=latin-ext,vietnamese');
*{
    margin: 0;
    padding: 0;
    background-color: none;
    font-family: "Maven Pro";
    color: white;
}
.backgroud {
    background-image: url("assets/backg1.jpg");
    background-size: 100%; 
    background-repeat: no-repeat;
}

.container {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: rgba(255,255,255,0.2)
}

nav {
    display: flex;
}

nav p {
    padding: 8px;
    color: white;
    font-size: 20px    
}

nav p:nth-child(1) {
    flex-grow: 3
}

.inter {

    display: flex;
    margin-top: 20px; 
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-grow: 3;
}
footer{
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end
}

footer p {
    padding: 10px;
    font-size: 12px;
}


section{
    width: 100%
}

.group {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 3;
       
}

.group article {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 14px;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-grow: 3;
}

.infos {
    display: flex;
    /* margin: 15px; */
    justify-content: center;
}

.infos article {
    margin: 15px;

}

.infos article:nth-child(1){
    border-right: 1px solid white;
    padding-right: 15px;
}
.infos article:nth-child(3){
    padding-left: 15px;
    border-left: 1px solid white;
}

.develop {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.group article a {
    margin: 10px
}